DATABASE_URI=''

PORT=3000
HOST="0.0.0.0"

MAIL_SERVER=''
MAIL_PORT=587
MAIL_USERNAME=''
MAIL_PASSWORD=''

JWT_SECRET='SECRET'
JWT_EXPIRES_IN='60s'


PAYSTACK_BASE_URL=''
PAYSTACK_SECRET_KEY=''

UI_URL='https://multicash.vercel.app'

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

PORTABLE_DID_BASE64=''

FIREBASE_PROJECT_ID=''
FIREBASE_CLIENT_EMAIL=''
FIREBASE_PRIVATE_KEY=''

STRIPE_BASE_URL='https://api.stripe.com'
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

INTERCOM_SECRET_KEY=''

IPAPI_ACCESS_KEY=''

WISE_BASE_URL='https://api.sandbox.transferwise.tech/'
WISE_API_KEY=''