{% extends "base.njk" %}
{% block content %}
  <h2 style="margin-bottom: 16px; font-weight: 500; color: #3c4049">
    Password Updated!
  </h2>
  <p style="margin-bottom: 16px">Hey {{ user.name }},</p>
  <p style="margin-bottom: 24px">
  This is to notify you that your password has been successfully updated.
</p>
  <p style="margin-bottom: 24px">
  If you did not make this change, please contact us immediately at support.
</p>
{% endblock %}