<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Receipt</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

        body {
            font-family: 'Inter', Arial, sans-serif;
            color: #4a4a4a;
            margin: 0;
            padding: 40px;
            background-color: #f5f5f5;
            font-size: 14px;
        }

        h1,
        h2,
        p {
            margin: 0;
        }

        .logo {
            text-align: left;
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
            border-bottom: 1px solid #e0e0e0;
        }

        .transfer-details,
        .personal-details,
        .footer {
            padding: 20px 0;
        }

        .info-group {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            justify-content: start;
            margin-bottom: 10px;
            color: #4a4a4a;
            margin-top: 20px;
        }

        .info-group strong {
            color: #333;
        }

        .footer {
            font-size: 12px;
            color: #888;
            margin-top: 20px;
        }

        a {
            color: #1a73e8;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <!-- Logo Section -->
    <div class="logo">
        <img src="https://res.cloudinary.com/dfbjysygb/image/upload/v1730144622/xsg9oloeuv2ftcuc3g0w.png" alt="Logo"
            width="200px" height="auto">
    </div>

    <!-- Transfer Confirmation Section -->
    <div class="transfer-details">
        <div class="section-title">Transaction receipt</div>
        <div class="info-group">
            <p><strong>Transaction created</strong><br>{{ date }}</p>
            <p><strong>Transaction ref</strong><br>#{{ transferReference }}</p>
        </div>
    </div>

    <!-- Your Details Section -->
    <div class="personal-details">
        <div class="section-title">Your details</div>
        <div class="info-group">
            <p><strong>Name</strong><br>{{ user.name }}</p>
        </div>
    </div>

    <!-- Transfer Overview Section -->
    <div class="transfer-details">
        <div class="section-title">Transfer overview</div>
        <div class="info-group">
            <p><strong>Amount</strong><br>{{ transactionAmount }}</p>
            <p><strong>Fees</strong><br>{{ fee }}</p>
        </div>
        <div class="info-group">
            <p><strong>Total amount paid</strong><br>{{ amount }}</p>
        </div>

    </div>

    <!-- Footer Section -->
    <div class="footer">
        <p>
            MultiCash, a registered payment service provider for multi-currency transactions. Contact us at 
            <a href="mailto:support@multicash.africa" style="color: #1a73e8; text-decoration: none;">support@multicash.africa</a>.
        </p>
        <p>Visit <a href="https://www.multicash.africa" style="color: #1a73e8; text-decoration: none;">www.multicash.africa</a>.</p>

    </div>

</body>

</html>