{% extends "base.njk" %}

{% block content %}
  <h2 style="margin-bottom: 16px; font-weight: 500; color: #3c4049">
    Wallet Transfer Confirmation
  </h2>

  <p style="margin-bottom: 16px">Hello {{ user.name }},</p>

  <p style="margin-bottom: 24px">
    You have received <strong>{{ amount }}</strong> from @{{ sender.tag }}.
  </p>

  <p style="margin-bottom: 24px">
    If you did not initiate this transaction, please contact our support team immediately.
  </p>

{% endblock %}