{% extends "base.njk" %}

{% block content %}
  <h2 style="margin-bottom: 16px; font-weight: 500; color: #3c4049">
  Withdrawal Confirmation
</h2>
  <p  tyle="margin-bottom: 16px">Hello {{ user.name }},</p>
  <p style="margin-bottom: 24px">
  We have successfully processed your withdrawal of {{ amount }}. The funds should be in your account shortly.
</p>
  <p style="margin-bottom: 24px">
  If you have any questions, please feel free to contact us.
</p>
  <p class="signing">Best Regards,</p>
  <p class="signing" style="margin-bottom: 16px">The MultiCash Team</p>
{% endblock %}